<div class="container mt-2">
  <h1>Export Jobs</h1>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Job ID</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody>
      <%= for j <- @jobs do %>
      <tr>
        <td><%= j.id %></td>
        <td><%= j.state %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
