<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Plenario</title>

    <!-- Import css and js files built by Webpack -->
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/main.css") %>">
    <script src="<%= static_path(@conn, "/js/polyfill.bundle.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/main.bundle.js") %>"></script>
    <link rel="shortcut icon" type="image/png" href="<%= static_path(@conn, "/images/favicon.png") %>">
  </head>

  <body>

    <%= render PlenarioWeb.SharedView, "flashes.html", conn: @conn %>
    
    <%= render PlenarioWeb.SharedView, "navbar-main.html", conn: @conn, current_user: @current_user %>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

  </body>
</html>
