CREATE OR REPLACE FUNCTION
  parse_pt_location_<%= srid %>(location TEXT)
RETURNS GEOMETRY(POINT, <%= srid %>) AS $$

  SELECT ST_PointFromText(
    'POINT(' || subq.long || ' ' || subq.lat || ')',
    <%= srid %>
  )
  FROM (
    SELECT
      FLOAT8((REGEXP_MATCHES($1, '([+-]?\\d+\\.\\d+)[^\\d]*([+-]?\\d+\\.\\d+)'))[1]) AS long,
      FLOAT8((REGEXP_MATCHES($1, '([+-]?\\d+\\.\\d+)[^\\d]*([+-]?\\d+\\.\\d+)'))[2]) AS lat
  ) AS subq

$$
LANGUAGE 'sql' IMMUTABLE;
