CREATE TABLE IF NOT EXISTS "<%= table_name %>" (
  <% len_fields = length(fields) %>
  <%= for {f, i} <- Enum.with_index(fields) do %>
  "<%= f.name %>" <%= f.type %> <%= f.opts %> <%= if i+1 < len_fields do %>,<% end %>
  <% end %>
);
