CREATE FUNCTION
  "<%= function_name %>"()
RETURNS TRIGGER AS $$

  BEGIN
    <%= for f <- fields do %>
    <%= if f.location_field do %>
    new."<%= f.name %>" := parse_pt_location_<%= srid %>(new."<%= f.location_field %>");
    <% else %>
    new."<%= f.name %>" := parse_pt_long_lat_<%= srid %>(new."<%= f.longitude_field %>", new."<%= f.latitude_field %>");
    <% end %>
    <% end %>
    return new;
  END

$$
LANGUAGE 'plpgsql';
