CREATE TABLE IF NOT EXISTS "<%= meta.table_name %>" (
  <% len_fields = length(meta.fields) %>

  <%= for {f, idx} <- Enum.with_index(meta.fields) do %>
  "<%= f.name %>" <%= String.upcase(f.type) %> DEFAULT NULL <%= if idx+1 < len_fields do %>,<% end %>
  <% end %>

  <%= for f <- meta.virtual_dates do %>
  , "<%= f.name %>" TIMESTAMPTZ DEFAULT NULL
  <% end %>

  <%= for f <- meta.virtual_points do %>
  , "<%= f.name %>" GEOMETRY DEFAULT NULL
  <% end %>
);
