/_build
/.elixir_ls
/.git
/.hex
/.mix
/assets/node_modules
/cover
/deps
/priv/static
/test
/.formatter.exs
/.gitignore
/.travis.yml
/api-docs.md
/build.bash
/coveralls.json
/deploy.bash
/LICENSE
/README.md
