# App artifacts
/_build
/db
/deps
/*.ez

# Generated on crash by the VM
erl_crash.dump

# Generated on crash by NPM
npm-debug.log

# Static artifacts
node_modules/
/assets/node_modules
/assets/static/images/responsive/*-[0-9].jpg
/assets/static/images/responsive/*-[0-9][0-9].jpg
/assets/static/images/responsive/*-[0-9][0-9][0-9].jpg
/assets/static/images/responsive/*-[0-9][0-9][0-9][0-9].jpg
/assets/static/images/responsive/*-xs.jpg
/assets/static/images/responsive/*-sm.jpg
/assets/static/images/responsive/*-md.jpg
/assets/static/images/responsive/*-lg.jpg
/assets/static/images/responsive/*-xl.jpg
/assets/static/images/responsive/*-??@2x.jpg

# Since we are building assets from assets/,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/priv/static/

# Files matching config/*.secret.exs pattern contain sensitive
# data and you should not commit them into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets files as long as you replace their contents by environment
# variables.
/config/*.secret.exs

# ide
.idea
*.iml
.elixir_ls

# build and release
.deliver/releases/

# Visual Studio Code
.vscode/

# Coverage Reports
excoveralls.html
