<div class="row text-center">
  <h3>
    Action Forbidden.
  </h3>
</div>

<div class="row text-center">
  <h3>
    <a onclick="goback()"  style="cursor:pointer">You should go back.</a>
  </h3>
</div>

<script>
function goback () {
  window.history.back();
}
</script>
