<div class="row text-center">
  <h1>¯\_(ツ)_/¯</h1>
  <p>Looks like something broke on our end.</p>
  <p><a onclick="goback()" style="cursor:pointer">Try going back.</a></p>
</div>

<script>
function goback () {
  window.history.back();
}
</script>
