<div class="row">
  <h2>Update Your Email Address</h2>
</div>

<%= form_for @changeset, @action, fn f -> %>

  <div class="row">
    <div class="form-group">
      <%= label f, :email_address, class: "control-label" %>
      <%= text_input f, :email_address, class: "form-control" %>
      <%= error_tag f, :email_address %>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <%= submit "Update", class: "btn btn-primary" %>
    </div>
  </div>

<% end %>
