<div class="row">
  <h2>Update Your Password</h2>
</div>

<%= form_for @changeset, @action, fn f -> %>

  <div class="row">
    <div class="form-group">
      <%= label f, "Password", class: "control-label" %>
      <%= password_input f, :plaintext_password, class: "form-control" %>
      <%= error_tag f, :plaintext_password %>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <%= submit "Update", class: "btn btn-primary" %>
    </div>
  </div>

<% end %>
