CREATE OR REPLACE FUNCTION
  parse_pt_lat_lon_4326(lat FLOAT, lon FLOAT)
RETURNS GEOMETRY(POINT, 4326) AS $$

  SELECT ST_PointFromText(
    'POINT(' || lon || ' ' || lat || ')',
    4326
  )

$$
LANGUAGE 'sql' IMMUTABLE;
