<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Plenario Admin</title>

    <!-- Import css and js files built by brunch -->
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <link rel="shortcut icon" type="image/png" href="<%= static_path(@conn, "/images/favicon.png") %>">

    <style>
    @media (min-width: 900px) {
      .container {
        max-width: 870px;
      }
    }
    @media (min-width: 1150px) {
      .container {
        max-width: 1120px;
      }
    }
    @media (min-width: 1400px) {
      .container {
        max-width: 1370px;
      }
    }
    </style>

  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <li><%= link "Admin Home", to: admin_page_path(@conn, :index) %></li>
            <li><%= link "Users", to: user_path(@conn, :index) %></li>
            <li><%= link "Metas", to: meta_path(@conn, :index) %></li>
            <li><%= link "ETL Jobs", to: etl_job_path(@conn, :index) %></li>
            <li><%= link "Export Jobs", to: user_path(@conn, :index) %></li>
          </ul>
        </nav>
        <a href="/">
          <span class="logo"></span>
        </a>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-success" role="alert"><%= get_flash(@conn, :success) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div>
  </body>
</html>
