<!-- Template Variables -->
<!-- ================== -->
<!-- slug        charlist -->
<!-- meta        Meta -->
<!-- fields      list[DataSetField] -->

<h2>Data Set Fields</h2>
<h5><%= @meta.name %></h5>

<%= for field <- @fields do %>
<% end %>


