<!-- Template Variables -->
<!-- ================== -->
<!-- meta          Meta -->
<!-- field     charlist -->
<!-- owner            ? -->

<tr>
  <th><%= String.capitalize @field %></th>
  <td class="text-right"><%= Map.get(@meta, String.to_atom @field) || "No #{@field} provided" %></td>
  <%= if @owner do %>
    <td><%= link "Edit", to: @action, method: :get %></td>
  <% end %>
</tr>