<h3>Create a New Data Set Constraint</h3>

<%= form_for @changeset, @action, fn f -> %>

  <%= hidden_input f, :meta_id, value: @meta.id %>

  <div class="form-group">
    <%= label f, :field_names, class: "control-label" %>
    <%= multiple_select f, :field_names, @field_opts, class: "form-control" %>
    <%= error_tag f, :field_names %>
  </div>

  <div class="form-group">
    <%= submit "Create", class: "btn btn-primary" %>
  </div>

<% end %>
