<div class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><%= link "Admin Home", to: admin_path(@conn, :index) %></li>
      <li><%= link "Users", to: admin_path(@conn, :user_index) %></li>
    </ul>
  </div>
</div>
