-- Template Variables
-- ==================
-- columns          list[charlist]
-- table            charlist
-- constraint       list[charlist]
-- incoming_pks     list

SELECT 
  "<%= Enum.join(columns, ~s{", "}) %>"
FROM
  "<%= table %>" AS t 
WHERE
  "(<%= Enum.join(constraint, ~s{","}) %>)"
IN
  (<%= Enum.join(incoming_pks, ~s{,}) %>)