create table <%= schema[:table] %> (
  <%= for {{field, type}, index} <- schema[:fields] 
    |> Enum.reverse 
    |> Enum.with_index 
    |> Enum.reverse do %>
    <%= case index do %>
      <% 0 -> %> <%= field %> <%= type %> <%= if field == schema[:pk] do %> primary key <% end %>
      <% _ -> %> <%= field %> <%= type %> <%= if field == schema[:pk] do %> primary key <% end %>,
    <% end %>
  <% end %>
)
