create table <%= state[:table] %> (
  id serial primary key,
  <%= for {{field, type}, index} <- state[:fields] |> Enum.reverse |> Enum.with_index |> Enum.reverse do %>
    <%= case index do %>
      <% 0 -> %> <%= field %> <%= type %>
      <% _ -> %> <%= field %> <%= type %>,
    <% end %>
  <% end %>
)