<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Plenario</title>

    <!-- Import css and js files built by brunch -->
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <style>
    @media (min-width: 900px) {
      .container {
        max-width: 870px;
      }
    }
    @media (min-width: 1150px) {
      .container {
        max-width: 1120px;
      }
    }
    @media (min-width: 1400px) {
      .container {
        max-width: 1370px;
      }
    }
    </style>

  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <%= if assigns[:current_user] == nil do %>
              <li><%= link "Sign In", to: auth_path(@conn, :get_login), method: :get %></li>
              <li><%= link "Sign Up", to: auth_path(@conn, :get_register), method: :get %><li>
            <% else %>
              <li><%= link "Hi, #{@current_user.name}!", to: user_path(@conn, :index) %></li>
              <%= if @current_user.is_admin do %>
                <li><%= link "Admin", to: admin_path(@conn, :index) %></li>
              <% end %>
              <li><%= link "Sign Out", to: auth_path(@conn, :logout), method: :post %></li>
            <% end %>
          </ul>
        </nav>
        <a href="/">
          <span class="logo"></span>
        </a>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-success" role="alert"><%= get_flash(@conn, :success) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
  </body>
</html>
