.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 100vh;
  z-index: $zindex-modal - 1;
  padding: 0;
  background-size: cover;
  background-position: center;
  @include media-breakpoint-down(sm) {
    text-align: center;
  }
  // The standard Bootstrap link style (primary color, no decoration) reads very
  // poorly over an image, so we override with bold weight (or a "pop" animation
  // on hover, for nav links) and whatever higher contrast text color we've
  // opted for in the rest of the text.
  a:not(.btn) {
    color: inherit;
    font-weight: bolder;
    &.nav-link {
      font-weight: inherit;
      @include move-on-hover(-0.1em);
    }
  }
  &:first-of-type {
    // Push the navbar spacing below the first cover instead of above, since the
    // first cover is meant to cover (heh) the navbar
    top: -$navbar-spacing;
    margin-bottom: $navbar-spacing;
  }
}

.cover.cityscape {
  @include darkened-bg-img-responsive("https://s3.us-east-2.amazonaws.com/plenario2-assets-dev/images/chicago-sunset-xx.jpg", 0.6);  
  @include text-over-image-readability-helper($strength: 0.4);
  color: $white;
  hr {
    border-color: transparentize($white, 0.5);
  }
}

.coverskip {
  @include move-on-hover(0.25rem);
  display: inline-block;
  font-size: 5rem;
  line-height: 0.8em;
  transform: scaleX(1.5);
  cursor: pointer;
  &::after {
    content: "\2304";
  }
}
