<!-- FIXME: this is not the right way to do this. -->
<script src="<%= static_path(@conn, "/js/explorer.bundle.js") %>"></script>

<div class="container mt-2 mb-1">
  <!-- Vue.js application mount point -->
  <div id="app">
    <explorer 
      host="<%= Application.get_env(:plenario, PlenarioWeb.Endpoint)[:url][:host] %>"
      :port=4000
      :ssl=false
      :api=2>
    </explorer>
  </div>
</div>
