<!-- FIXME: this is not the right way to do this. -->
<script src="<%= static_path(@conn, "/js/explorer.bundle.js") %>"></script>
<link rel="stylesheet" href="<%= static_path(@conn, "/css/explorer.css") %>">

<div class="container">
  <!-- Vue.js application mount point -->
  <div id="app"
    data-api-host="<%= Application.get_env(:plenario, PlenarioWeb.Endpoint)[:url][:host] %>"
    data-api-port="4000"
    data-api-ssl="false" >
  </div>
</div>
