<h3>Create a Location Field from a Single Text Field</h3>

<%= form_for @changeset, @action, fn f -> %>

  <div class="form-group">
    <%= label f, "Column in data set that contains the location", class: "control-label" %>
    <%= select f, :location_field, @fields, class: "form-control" %>
    <%= error_tag f, :location_field %>
  </div>

  <%= hidden_input f, :meta_id, value: @meta.id %>

  <div class="form-group">
    <%= submit "Create", class: "btn btn-primary" %>
  </div>

<% end %>
